* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #D6D6D6;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 50px;

}

h1 {
    font-size: 50px;
    letter-spacing: 3px;
    margin: 0;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 5 5 0 0;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

p {
    font-size: 18px;
    font-weight: 500;
}


.bold {
    font-weight: 700;
}

.semibold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

.lato {
    font-family: 'Lato', sans-serif !important;
}

.header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #2C2C2C;
    background-color: #FFFFFF;
    box-shadow: 0 0 50px #000000;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    background-color: #313131;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-item a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-item a:hover {
    color: #FECA00;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}

.name-title {
    font-size: auto;
    text-align: left;
    text-transform: uppercase;
    padding: 25px 25px 25px 50px;
    margin-top: 100px;
    background-color: #FECA00;
    color: #313131;
}

td {
    vertical-align: top !important;
    

}

.main {
    display: flex;
    flex-direction: row;
    justify-content: stretch;

}

.img {
    align-self: center;
    padding: 0;
    margin: 0;
}

.photo {
    padding: 10px;
}

.aside {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #25262A;
    width: 40%;
}

.aside .section {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

.aside .section-title {
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 3px solid #FECA00;
    font-weight: 500;
    letter-spacing: 2px;
    
   
    
}

.footer {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    background-color: #FECA00;
    padding: 10px;
}

.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.foot-img {
    height: 30px;
}

.section {
    margin-left: 50px;
    margin-right: 50px;
}

.section-title {
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 3px solid #000000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}